asgiref
attrs
autobahn
Automat
Babel
bcrypt
blinker
certifi
cffi
chardet
click
colorama
constantly
cryptography
Cython
daphne
ecdsa
hyperlink
idna
importlib-metadata
incremental
Jinja2
jsonpatch
jsonpointer
jsonschema
MarkupSafe
more-itertools
msgpack
netifaces
oauthlib
packaging
passlib
pyasn1
pyasn1-modules
pycparser
PyJWT
PyNaCl
pyOpenSSL
pyparsing
pytz
PyYAML
requests
six
Twisted
txaio
ujson
urllib3
wsaccel
zipp
zope.interface
gunicorn
Django>=3.2,<5.0
