asgiref==3.5.0  
attrs==21.2.0
autobahn==21.11.1
Automat==20.2.0
Babel==2.8.0
bcrypt==3.2.0
blinker==1.4
certifi==2020.6.20
cffi==1.15.0
chardet==4.0.0
click==8.0.3
colorama==0.4.4
constantly==15.1.0
cryptography==3.4.8
daphne==3.0.2
ecdsa==0.18.0b1
hyperlink==21.0.0
idna==3.3
importlib-metadata==4.6.4
incremental==21.3.0
Jinja2==3.0.3
jsonpatch==1.32
jsonpointer==2.0
jsonschema==3.2.0
MarkupSafe==2.0.1
more-itertools==8.10.0
msgpack==1.0.3
netifaces==0.11.0
oauthlib==3.2.0
packaging==21.3
passlib==1.7.4
pyasn1==0.4.8
pyasn1-modules==0.2.1
pycparser==2.21
PyJWT==2.3.0
PyNaCl==1.5.0
pyOpenSSL==21.0.0
pyparsing==2.4.7
pytz==2022.1
PyYAML==5.4.1
requests==2.25.1
six==1.16.0
Twisted==22.1.0
txaio==21.2.1
ujson==5.1.0
urllib3==1.26.5
wsaccel==0.6.3
zipp==1.0.0
zope.interface==5.4.0
